<a href="https://colab.research.google.com/github/damasongithub/learn_data_analysis/blob/main/Data_Analysis_With_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas

In [ ]:
import pandas as pd
import numpy as np

# pandas Series
we'll start analyzing "The Group of Seven". which is a political formed by Canada, France, Germany, Italy, Japan, the United kingdom, and the United States . w we first start by analyzing the population we will use the pandas.Series object

In [ ]:
# population in millions
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [ ]:
# since it is a Series the values are indexed starting from zero
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [ ]:
# we can give the Series a name by using the method ".name"
g7_pop.name = 'G7 population in millions'

g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 population in millions, dtype: float64

In [ ]:
# we can check it's values using the .value method
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [ ]:
# we can check the type
type(g7_pop)

pandas.core.series.Series

In [ ]:
# we can check the type of it's values
type(g7_pop.values)

numpy.ndarray

in contrast to lists, with Series, we can explicitly define the index

In [ ]:
# we can check it's index as
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
# we can select an element using it's index numbers e.g.
g7_pop[2]

80.94

In [ ]:
# change it's indexes from numbers into words or names
g7_pop.index = [ 'Canada', 'France', ' Germany ', ' Italy ', ' Japan', ' United kingdom', ' United States' ]

g7_pop

Canada              35.467
France              63.951
 Germany            80.940
 Italy              60.665
 Japan             127.061
 United kingdom     64.511
 United States     318.523
Name: G7 population in millions, dtype: float64

In [ ]:
# now we can use the words we have replaced in to call the values we want e.g.
g7_pop[ ' Japan']

127.061

In [ ]:
# you can still access it using the .iloc method if you want to access the values using there index for example Japan , the value for Japan can be access as
g7_pop.iloc[4]

127.061

### you can also create a Series as follows

In [ ]:
pd.Series( {' Canada': 35.45, ' France': 63.951}, name=' G7 population in millions')

 Canada    35.450
 France    63.951
Name:  G7 population in millions, dtype: float64

In [ ]:
# or you can write it in this way
pd.Series([35.467, 63.951], index=[' Canada',' France'], name= 'G7 population in millions ' )

 Canada    35.467
 France    63.951
Name: G7 population in millions , dtype: float64

# Conditional Selection

if we want to find the number of counties whose population is great than 70 we can do as follows

In [ ]:
# we check the list
g7_pop

Canada              35.467
France              63.951
 Germany            80.940
 Italy              60.665
 Japan             127.061
 United kingdom     64.511
 United States     318.523
Name: G7 population in millions, dtype: float64

In [ ]:
# we check the counties which have population greater than 70
g7_pop > 70
# we use the greater than symbol

Canada             False
France             False
 Germany            True
 Italy             False
 Japan              True
 United kingdom    False
 United States      True
Name: G7 population in millions, dtype: bool

In [ ]:
# we can select the counties which have there population greater than 70 using slices
g7_pop[ g7_pop >70]

 Germany           80.940
 Japan            127.061
 United States    318.523
Name: G7 population in millions, dtype: float64

other basic operations include

In [ ]:
# finding the mean
g7_pop.mean()

107.30257142857144

In [ ]:
# finding counties which are less  than the population mean
g7_pop[ g7_pop < g7_pop.mean()]

Canada             35.467
France             63.951
 Germany           80.940
 Italy             60.665
 United kingdom    64.511
Name: G7 population in millions, dtype: float64

In [ ]:
# standard deviation
g7_pop.std()

97.24996987121581

# Modifying Series

we can modify the values of the Series as follows

In [ ]:
g7_pop

Canada              35.467
France              63.951
 Germany            80.940
 Italy              60.665
 Japan             127.061
 United kingdom     64.511
 United States     318.523
 Canada             40.500
Name: G7 population in millions, dtype: float64

In [ ]:
# changing the Canada value
g7_pop['Canada'  ]

35.467

In [ ]:
g7_pop['Canada'  ]= 40.50

In [ ]:
g7_pop

Canada              40.500
France              63.951
 Germany            80.940
 Italy              60.665
 Japan             127.061
 United kingdom     64.511
 United States     318.523
 Canada             40.500
Name: G7 population in millions, dtype: float64

In [ ]:
# we can also modify using operations
g7_pop[ g7_pop>70] = 200.00

In [ ]:
g7_pop

Canada              40.500
France              63.951
 Germany           200.000
 Italy              60.665
 Japan             200.000
 United kingdom     64.511
 United States     200.000
 Canada             40.500
Name: G7 population in millions, dtype: float64

# Pandas - DataFrames

creating a DataFrame manually can be so tedious,  99% of the time you'll be pulling data from a DataBase, a csv file or the web. But still, you can create a dataframe by specifying the columns and values;

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame( { 
    ' population ': [ 35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],

    ' GDP ': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],

    ' Surface Area ': [ 
       9984670,
       640679,
       357114,
       301336,
       377930,
       242495,
       9525067
    ],

    ' HDI ': [ 
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],

    ' Continent ': [ 
        ' America ',
        ' Europe ',
        ' Europe ',
        ' Europe ',
        ' Asia ',
        ' Europe ',
        ' America '
    ]
}, columns= [ ' population ', ' GDP ', ' Surface Area ', ' HDI ', ' Continent '])

In [3]:
df

    population       GDP    Surface Area    HDI   Continent
0        35.467   1785387         9984670  0.913    America
1        63.951   2833687          640679  0.888     Europe
2        80.940   3874437          357114  0.916     Europe
3        60.665   2167744          301336  0.873     Europe
4       127.061   4602367          377930  0.891       Asia
5        64.511   2950039          242495  0.907     Europe
6       318.523  17348075         9525067  0.915    America

DataFrames also do have indexes. As you can see in the table above, pandas has assigned a numeric, autoincreamental index automatically to each " row" in our DataFrame. in our case we know that each row represents a country, so we will just reassign the index

In [4]:
df.index=[ 
    ' Canada',
    ' France',
    ' Germany',
    ' Italy',
    ' Japan',
    ' United kingdom',
    ' United States'
]

In [5]:
df

                  population       GDP    Surface Area    HDI   Continent
 Canada                35.467   1785387         9984670  0.913    America
 France                63.951   2833687          640679  0.888     Europe
 Germany               80.940   3874437          357114  0.916     Europe
 Italy                 60.665   2167744          301336  0.873     Europe
 Japan                127.061   4602367          377930  0.891       Asia
 United kingdom        64.511   2950039          242495  0.907     Europe
 United States        318.523  17348075         9525067  0.915    America

In [ ]:
df.columns

Index([' population ', ' GDP ', ' Surface Area ', ' HDI ', ' Continent '], dtype='object')

In [ ]:
df.index

Index([' Canada', ' France', ' Germany', ' Italy', ' Japan', ' United kingdom',
       ' United States'],
      dtype='object')

In [ ]:
# DataFrame.info() gives us some basic information about the dataframe
df.info( )

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries,  Canada to  United States
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0    population     7 non-null      float64
 1    GDP            7 non-null      int64
 2    Surface Area   7 non-null      int64
 3    HDI            7 non-null      float64
 4    Continent      7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [ ]:
df.size

35

In [ ]:
df.shape

(7, 5)

In [ ]:
# DataFrame.describe() method it ggives you some statistics of the data frame
df.describe()

        population           GDP    Surface Area       HDI
count      7.000000  7.000000e+00    7.000000e+00  7.000000
mean     107.302571  5.080248e+06    3.061327e+06  0.900429
std       97.249970  5.494020e+06    4.576187e+06  0.016592
min       35.467000  1.785387e+06    2.424950e+05  0.873000
25%       62.308000  2.500716e+06    3.292250e+05  0.889500
50%       64.511000  2.950039e+06    3.779300e+05  0.907000
75%      104.000500  4.238402e+06    5.082873e+06  0.914000
max      318.523000  1.734808e+07    9.984670e+06  0.916000

In [ ]:
df.dtypes

 population       float64
 GDP                int64
 Surface Area       int64
 HDI              float64
 Continent         object
dtype: object

In [ ]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

# indexing, Selection, and Slicing

individual columns in the dataframe can be selected with regular indexing. Each column is a representation of a Series

In [ ]:
df

                  population       GDP    Surface Area    HDI   Continent
 Canada                35.467   1785387         9984670  0.913    America
 France                63.951   2833687          640679  0.888     Europe
 Germany               80.940   3874437          357114  0.916     Europe
 Italy                 60.665   2167744          301336  0.873     Europe
 Japan                127.061   4602367          377930  0.891       Asia
 United kingdom        64.511   2950039          242495  0.907     Europe
 United States        318.523  17348075         9525067  0.915    America

In [ ]:
# the .loc method allows you to select  individual row by there names
df.loc[ ' Canada']

 population          35.467
 GDP                1785387
 Surface Area       9984670
 HDI                  0.913
 Continent         America
Name:  Canada, dtype: object

In [ ]:
# the .iloc method will let you select the row by sequential position. for example trying to select the first raw:
df.iloc[0 ]

 population          35.467
 GDP                1785387
 Surface Area       9984670
 HDI                  0.913
 Continent         America
Name:  Canada, dtype: object

In [ ]:
# if you want to select a column you just put the these brackets "[]"" after the name of the dateframe and writing in the bracket the name of the column you want to select:
df[ ' population ']

 Canada             35.467
 France             63.951
 Germany            80.940
 Italy              60.665
 Japan             127.061
 United kingdom     64.511
 United States     318.523
Name:  population , dtype: float64

# Conditional Selection (Boolean arrays)

In [ ]:
# which counties have population greater than 70 in millions
df[ ' population '] > 70

 Canada            False
 France            False
 Germany            True
 Italy             False
 Japan              True
 United kingdom    False
 United States      True
Name:  population , dtype: bool

In [ ]:
# we can select these counties as follows
df[ df[ ' population ']> 70]

                 population       GDP    Surface Area    HDI   Continent
 Germany              80.940   3874437          357114  0.916     Europe
 Japan               127.061   4602367          377930  0.891       Asia
 United States       318.523  17348075         9525067  0.915    America

In [ ]:
# or we can use the .loc method
df.loc[ df[ ' population ']>70]

                 population       GDP    Surface Area    HDI   Continent
 Germany              80.940   3874437          357114  0.916     Europe
 Japan               127.061   4602367          377930  0.891       Asia
 United States       318.523  17348075         9525067  0.915    America

In [ ]:
# we can also select the columns we want to show like;
df.loc [ df[ ' population ']>70, ' GDP ']
# as show it gives us only the GDP of the counties whose population is greater than 70

 Germany           3874437
 Japan             4602367
 United States    17348075
Name:  GDP , dtype: int64

In [ ]:
# we can add on to the list of things we want to select as
df.loc[ df[ ' population ']>70, [ ' population ', ' GDP ']]

                 population       GDP
 Germany              80.940   3874437
 Japan               127.061   4602367
 United States       318.523  17348075

# Droping Stuff

so we can take out some things in the data frame tthat we do not like.

In [ ]:
df

                  population       GDP    Surface Area    HDI   Continent
 Canada                35.467   1785387         9984670  0.913    America
 France                63.951   2833687          640679  0.888     Europe
 Germany               80.940   3874437          357114  0.916     Europe
 Italy                 60.665   2167744          301336  0.873     Europe
 Japan                127.061   4602367          377930  0.891       Asia
 United kingdom        64.511   2950039          242495  0.907     Europe
 United States        318.523  17348075         9525067  0.915    America

In [ ]:
# using the .drop() method we can remove the row  of  any dataframe for example we remove Canada
df.drop( ' Canada')

                  population       GDP    Surface Area    HDI   Continent
 France                63.951   2833687          640679  0.888     Europe
 Germany               80.940   3874437          357114  0.916     Europe
 Italy                 60.665   2167744          301336  0.873     Europe
 Japan                127.061   4602367          377930  0.891       Asia
 United kingdom        64.511   2950039          242495  0.907     Europe
 United States        318.523  17348075         9525067  0.915    America

In [ ]:
# you can drop many rows at once eg
df.drop( [ ' Canada', ' Japan'])

                  population       GDP    Surface Area    HDI   Continent
 France                63.951   2833687          640679  0.888     Europe
 Germany               80.940   3874437          357114  0.916     Europe
 Italy                 60.665   2167744          301336  0.873     Europe
 United kingdom        64.511   2950039          242495  0.907     Europe
 United States        318.523  17348075         9525067  0.915    America

In [ ]:
# you can also drop columns eg
df.drop( columns=[ ' population ', ' HDI '])

                     GDP    Surface Area   Continent
 Canada           1785387         9984670    America
 France           2833687          640679     Europe
 Germany          3874437          357114     Europe
 Italy            2167744          301336     Europe
 Japan            4602367          377930       Asia
 United kingdom   2950039          242495     Europe
 United States   17348075         9525067    America

#Same advanced operations

In [ ]:
# lets have a new series called crisis
crisis = pd.Series( [ -1_000_000, -0.3], index= [ ' GDP ', ' HDI '])
crisis

 GDP    -1000000.0
 HDI          -0.3
dtype: float64

In [ ]:
# and also let's have also a data frame
df[ [ ' GDP ', ' HDI ']]

                     GDP    HDI
 Canada           1785387  0.913
 France           2833687  0.888
 Germany          3874437  0.916
 Italy            2167744  0.873
 Japan            4602367  0.891
 United kingdom   2950039  0.907
 United States   17348075  0.915

In [ ]:
# now we add the two, we get a new dataframe with new values that have been added according to there respective columns
df[ [ ' GDP ', ' HDI ']] + crisis

                       GDP    HDI
 Canada            785387.0  0.613
 France           1833687.0  0.588
 Germany          2874437.0  0.616
 Italy            1167744.0  0.573
 Japan            3602367.0  0.591
 United kingdom   1950039.0  0.607
 United States   16348075.0  0.615

# Modifying dataframes

now you have to realize that in the dataframe we dropped some rows/coluumes but you must understand that dropping rows/columns using the drop method doesn't change the dataframe when you type 'df' everything will come back including the data we drop, and that's because these operations are all immutable

In [6]:
df

                  population       GDP    Surface Area    HDI   Continent
 Canada                35.467   1785387         9984670  0.913    America
 France                63.951   2833687          640679  0.888     Europe
 Germany               80.940   3874437          357114  0.916     Europe
 Italy                 60.665   2167744          301336  0.873     Europe
 Japan                127.061   4602367          377930  0.891       Asia
 United kingdom        64.511   2950039          242495  0.907     Europe
 United States        318.523  17348075         9525067  0.915    America

## Adding new columns

In [7]:
# we can add athe new column called language or langs
langs = pd.Series( [ 
    ' French',
    ' German',
    ' Italian'
], index= [ ' France', ' Germany', ' Italy'], name= ' language' )

In [8]:
langs

 France       French
 Germany      German
 Italy       Italian
Name:  language, dtype: object

In [9]:
# now we add this Series as part of the column
df[ ' Language'] = langs

In [10]:
# as we can see the language column has been added
df

,population,GDP,Surface Area,HDI,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,NaN
France,63.951,2833687,640679,0.888,Europe,French
Germany,80.940,3874437,357114,0.916,Europe,German
Italy,60.665,2167744,301336,0.873,Europe,Italian
Japan,127.061,4602367,377930,0.891,Asia,NaN
United kingdom,64.511,2950039,242495,0.907,Europe,NaN
United States,318.523,17348075,9525067,0.915,America,NaN

how do you know that you are mortifying a data frame, while in most times it will have an equal to "=" symbol

In [ ]:
# for example if you want to change the Language column so that all of it's  values is English, we do the following command( remove the # to see it in effect)
# df[ ' language ' ] = ' English '

# Renaming the columns

In [11]:
# we can also rename columns as follows using the .rename method
df.rename( 
    columns={ 
        ' HDI ': ' Human Development index',
        ' Anual Population consumption': ' APC '
    }, index ={ 
        ' United States': ' USA',
        ' United kingdom': ' UK',
        ' Argentina': ' AR'
    }
)

,population,GDP,Surface Area,Human Development index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,NaN
France,63.951,2833687,640679,0.888,Europe,French
Germany,80.940,3874437,357114,0.916,Europe,German
Italy,60.665,2167744,301336,0.873,Europe,Italian
Japan,127.061,4602367,377930,0.891,Asia,NaN
UK,64.511,2950039,242495,0.907,Europe,NaN
USA,318.523,17348075,9525067,0.915,America,NaN

In [12]:
# since the values are immutable we find that no changes has been made in the df despite the changes we made above
df

,population,GDP,Surface Area,HDI,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,NaN
France,63.951,2833687,640679,0.888,Europe,French
Germany,80.940,3874437,357114,0.916,Europe,German
Italy,60.665,2167744,301336,0.873,Europe,Italian
Japan,127.061,4602367,377930,0.891,Asia,NaN
United kingdom,64.511,2950039,242495,0.907,Europe,NaN
United States,318.523,17348075,9525067,0.915,America,NaN

## Dropping columns

In [14]:
df.drop( columns= ' Language', inplace= True)

In [15]:
df

                  population       GDP    Surface Area    HDI   Continent
 Canada                35.467   1785387         9984670  0.913    America
 France                63.951   2833687          640679  0.888     Europe
 Germany               80.940   3874437          357114  0.916     Europe
 Italy                 60.665   2167744          301336  0.873     Europe
 Japan                127.061   4602367          377930  0.891       Asia
 United kingdom        64.511   2950039          242495  0.907     Europe
 United States        318.523  17348075         9525067  0.915    America

## Adding values

In [17]:
df.append( 
    pd.Series( { 
        ' population': 300,
        ' GDP': 57
    }, name= ' China' )
)

,population,GDP,Surface Area,HDI,Continent,GDP,population
Canada,35.467,1785387.0,9984670.0,0.913,America,NaN,NaN
France,63.951,2833687.0,640679.0,0.888,Europe,NaN,NaN
Germany,80.940,3874437.0,357114.0,0.916,Europe,NaN,NaN
Italy,60.665,2167744.0,301336.0,0.873,Europe,NaN,NaN
Japan,127.061,4602367.0,377930.0,0.891,Asia,NaN,NaN
United kingdom,64.511,2950039.0,242495.0,0.907,Europe,NaN,NaN
United States,318.523,17348075.0,9525067.0,0.915,America,NaN,NaN
China,NaN,NaN,NaN,NaN,NaN,57.0,300.0

## Creating columns from other columns

let's sat we are trying to create a column from two other columns which is GDP per population.

In [18]:
df[ [ ' population ', ' GDP ']]

                  population       GDP
 Canada                35.467   1785387
 France                63.951   2833687
 Germany               80.940   3874437
 Italy                 60.665   2167744
 Japan                127.061   4602367
 United kingdom        64.511   2950039
 United States        318.523  17348075

In [19]:
df[ ' GDP ']/df[ ' population ']

 Canada            50339.385908
 France            44310.284437
 Germany           47868.013343
 Italy             35733.025633
 Japan             36221.712406
 United kingdom    45729.239975
 United States     54464.120330
dtype: float64

In [21]:
# let
df[ ' GDP per population']= df[ ' GDP ']/df[ ' population ']
df[ ' GDP per population']

 Canada            50339.385908
 France            44310.284437
 Germany           47868.013343
 Italy             35733.025633
 Japan             36221.712406
 United kingdom    45729.239975
 United States     54464.120330
Name:  GDP per population, dtype: float64

In [24]:
# we can see that the " GDP per population" has been added to the list of columns
df

,population,GDP,Surface Area,HDI,Continent,GDP per population
Canada,35.467,1785387,9984670,0.913,America,50339.385908
France,63.951,2833687,640679,0.888,Europe,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,36221.712406
United kingdom,64.511,2950039,242495,0.907,Europe,45729.239975
United States,318.523,17348075,9525067,0.915,America,54464.120330